samplesT142/*.fq.gz
samplesT142/*.fq
*fastqc*
raw_data/2017*
raw_data/2016*
stacks_b4/*
samplesT142/Lane1/*
batch_4_wgenome/*
stacks_b4/refgenome/*
reference_genome.zip
stacks_wgenome.zip
analyses/*.gen
analyses/*.txt*
analyses/*.in
analyses/*.xlsx
samplesT142/*.fa
pipeline_analyses/pstacks_readsVtags.txt
pipeline_analyses/*.xlsx
analyses/*.Rhistory
analyses/*.csv
analyses/*.RData
pipeline_analyses/reads_by_pop.txt
stacks_b5/*
stacks_b4_wgenome/*
scripts/barcodesL1*
scripts/barcoedesL2*
analyses/genalex/*
analyses/ml_relate/*
stacks_b5_wgenome/*
stacks_b6/*
stacks_b6_wgenome/*
stacks_b5_wgenome.7z
analyses/ml_relate_batch6/*
stacks_b7/*
stacks_b7_wgenome/*
analyses/HWE/*
analyses/genepop/*
analyses/Outliers/*BAYESCAN_output*
analyses/Outliers/*popnames.txt
analyses/Outliers/*locusnames.txt
analyses/Outliers/*SNPmat.txt
analyses/batch6_v_batch7/*.tsv
analyses/batch6_v_batch7/*.fa
analyses/batch6_v_batch7/batch_7_catalog*
analyses/gsi_sim/*
analyses/Structure/Korea-PCod
analyses/Structure/PCod-Korea*
analyses/Structure/batch_8*
analyses/Structure/*.xlsx
analyses/Structure/*.Rhistory
analyses/Outliers/bedtools2/*
analyses/Outliers/batch_8_BAYESCAN_outliers_bowtie2*
analyses/Outliers/.Rhistory
analyses/Outliers/batch_8_south_BAYESCAN*
analyses/Outliers/bedtools*
analyses/Outliers/*.xlsx
analyses/Hierfstat_diveRsity/*.txt
analyses/Hierfstat_diveRsity/batch4/*
analyses/PCA/*
analyses/DAPC/*
analyses/Outliers/*.fa
analyses/gsi_sim*
stacks_b8_wgenome/*
results/*
analyses/Assignment/*
analyses/Ne/*
analyses/Structure/Korea-PCod-2015/*
analyses/Admixture/*
analyses/*.ped
analyses/*.sam
.Rproj.user
