samplesT142/*.fq.gz
samplesT142/*.fq
*fastqc*
raw_data/2017*
raw_data/2016*
stacks_b4/*
samplesT142/Lane1/*
batch_4_wgenome/*
stacks_b4/refgenome/*
reference_genome.zip
stacks_wgenome.zip
analyses/*.gen
analyses/*.txt*
analyses/*.in
analyses/*.xlsx
samplesT142/*.fa
pipeline_analyses/pstacks_readsVtags.txt
pipeline_analyses/*.xlsx
analyses/*.Rhistory
analyses/*.csv
analyses/*.RData
pipeline_analyses/reads_by_pop.txt
stacks_b5/*
stacks_b4_wgenome/*
scripts/barcodesL1*
scripts/barcoedesL2*
analyses/genalex/*
analyses/ml_relate/*
stacks_b5_wgenome/*
stacks_b6/*
stacks_b6_wgenome/*
stacks_b5_wgenome.7z